.sorting{
    display: flex;
    justify-content: space-between;
}
.filter__text{
    font-size: 14px;
}
.back__btn{
    background-color: rgb(88, 128, 88);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    width: 80px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease;
    margin-left: 20px;
    margin-top: 20px;
}
#filter {
    background-color: rgb(224, 233, 224);
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid rgb(102, 145, 102);
    padding: 8px 12px;
    width: 150px;
    margin-top: 20px;
    margin-right: 40px;
    position: relative;
    transition: all 300ms ease;
}

#filter:hover {
    background-color: rgb(234, 246, 234);
}

.recipe__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    color: rgb(47, 96, 47);
}

.recipe__origin {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
}

.ingredients__wrapper {
    background-color: beige;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

.ingredients {
    list-style: none;
    line-height: 1.5;
    background-color: beige;
}

.recipe__instructions {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
    line-height: 1.5;
    letter-spacing: 0.625px;
    word-spacing: 0.2em;
}

.meal__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.meal__img {
    width: 100%;
    max-width: 600px;
}
.nutrition__btn{
    background-color: rgb(169, 101, 23);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: 120px;
    padding: 8px 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
}
.prev__btn, 
.next__btn {
    background-color: rgb(88, 128, 88);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    width: 80px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease;
}
.next__btn:hover,
.prev__btn:hover{
    background-color:rgb(102, 145, 102);
    scale: 1.05;
}
.page__number{
    margin-right: 10px;
    margin-left: 10px;
}

@media(max-width: 768px){
    .recipe__instructions{
        width: 80%;
    }
    .meal__img{
        width: 80%;
    }
}
