.nav__container,
.nav__row {
    width: 100%;
  height: 120px;
  display: flex;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    background-color: rgb(169, 101, 23);
}

.logo__wrapper {
    margin-left: 24px;
    margin-bottom: 7px;
}

.nav__logo--img {
    height: 120px;
    mix-blend-mode: multiply;
    
}

.nav__links {
    display: flex;
    margin-right: 24px;
    gap: 2em;
}

.nav__link {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 8px;
    transition: text-decoration 300ms ease;
}

.nav__link:hover {
    text-decoration: underline;
}

